body {
  font-family: arial, sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  display: inline;
  float: left;
  line-height: 24px;
}

li a {
  display: block;
  text-decoration: none;
  color: rgba(0,0,0,0.87);
  padding-right: 15px;
}

li a:hover {
  opacity: .85;
  text-decoration: underline;
}

nav {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 13px;
}

nav .sign-in {
  color: #fff;
  border: 1px solid #4285f4;
  font-weight: bold;
  background: #4285f4;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  line-height: 28px;
  padding: 0 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  text-decoration: none;
  margin-top: -4px;
}

nav .sign-in:hover {
  opacity: 1;
  text-decoration: none;
}

.main-block {
  text-align: center;
  padding-bottom: 30px;
}

.main-img {
  height: 233px;
  margin-top: 89px;
}

.main-img img {
  height: 96px;
  width: 302px;
  padding-top: 109px;
}

.search {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  width: 582px;
  margin: 0 auto;
}

.search:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.inner-search {
  color: transparent;
  flex: 100%;
  height: 34px !important;
}

.search input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  -webkit-tap-highlight-color: transparent;
  margin-top: 5px;
  margin-left: 20px;
  width: 95%;
}

.micro {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}

.micro img {
  height: 22px;
  width: 28px;
  margin-left: -6px;
  vertical-align: middle;
}

.buttons {
  width: 582px;
  padding-top: 18px;
  margin: 0 auto;
}

.buttons input {
  height: 36px;
  line-height: 27px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-border-radius: 2px;
  -webkit-user-select: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
}

.buttons input:hover {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #f8f8f8;
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}

.langs {
  display: inline-block;
  line-height: 28px;
  font-size: small;
  margin-top: 12px;
}

.langs a {
  padding: 0 3px;
  color: #1a0dab;
  text-decoration: none;
}

.langs a:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  font-size: small;
}

footer a {
  display: inline-block;
  color: #5f6368;
  text-decoration: none;
  white-space: nowrap;
  padding-left: 27px;
  margin: 0;
}

footer a:hover {
  text-decoration: underline;
  color: #333;
}

.country {
  border-bottom: 1px solid #e4e4e4;
  text-align: left;
  color: rgba(0,0,0,.54);
  padding-left: 30px;
  font-size: 15px;
}

.right {
  margin-right: 30px;
  float: right;
  white-space: nowrap;
}

.left {
  white-space: nowrap;
}
