body {
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 30px;
  position: absolute;
  top: 20px;
}

li {
  text-align: center;
  display: inline;
  float: left;
  line-height: 24px;
}

li a {
  display: block;
  text-decoration: none;
  color: rgba(0,0,0,0.87);
  padding-right: 15px;
}

li a:hover {
  opacity: .85;
  text-decoration: underline;
}

nav {
  position: absolute;
  top: 20px;
  font-size: 13px;
  width: 100%;
}

nav .sign-in {
  color: #fff;
  border: 1px solid #4285f4;
  font-weight: bold;
  background: #4285f4;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  line-height: 28px;
  padding: 0 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  text-decoration: none;
  margin-top: -4px;
}

nav .sign-in:hover {
  opacity: 1;
  text-decoration: none;
}

.logo {
	position: absolute;
  padding: 4px 28px 0 30px;
  top: 4px;
}

.logo img {
	height: 32px;
  width: 98px;
}

.search {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  width: 638px;
  margin-left: 150px;
  cursor: pointer;
}

.search:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.inner-search {
  color: transparent;
  flex: 100%;
  height: 34px !important;
}

.search input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  -webkit-tap-highlight-color: transparent;
  margin-top: 5px;
  margin-left: 20px;
  width: 95%;
}

.micro {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}

.micro img {
  height: 22px;
  width: 28px;
  margin-left: -6px;
  vertical-align: middle;
}

.search-icon {
	background: none;
  color: #4285f4;
  height: 24px;
  width: 24px;
  margin: auto;
  border-radius: 0 8px 8px 0;
  outline: none;
  flex: 0 0 auto;
  padding-right: 13px;
}

.bottom-nav {
  float: left;
  position: relative;
  white-space: nowrap;
  align-items: baseline;
  justify-content: space-between;
  min-width: 782px;
  display: inline;
  color: #666;
  font-size: 13px;
  outline-width: 0;
  outline: none;
  z-index: 102;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
}

.bottom-nav .filters {
  margin-left: 155px;
}

.bottom-nav a {
  color: #5f6368;
  outline-width: 0;
  outline: none;
  cursor: pointer;
  display: inline-block;
  padding: 16px 10px 12px 8px;
}

.bottom-nav a:hover {
  color: #1A73E8;
}

.bottom-nav .more {
  padding-left: 6px;
  text-decoration: none;
}

.bottom-nav .settings {
  margin-left: 35px;
}

.bottom-nav .tools {
  padding-left: 6px;
  text-decoration: none;
  border: 1px solid transparent;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  line-height: 19px;
  cursor: pointer;
  margin-left: -1px;
  padding: 4px 11px;
}

.bottom-nav .tools:hover {
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #5f6368;
}

.bottom-nav span {
  height: 16px;
  width: 16px;
  display: inline-block;
  fill: currentColor;
  margin-right: 5px;
  vertical-align: text-bottom;
}

.tab {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  margin: 11px 1px 0;
}

.bottom-nav .selected {
  border-bottom: 3px solid #1A73E8;
  color: #1A73E8;
  padding: 16px 12px 12px 10px;
}

.main-block {
  padding-bottom: 30px;
  width: 100%;
  padding-top: 60px
}

.results-bar {
  background: white;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 43px;
}

.results-bar .stats {
  line-height: 43px;
  color: #777;
  padding-left: 165px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-results {
  margin-left: 150px;
  margin-top: 70px;
  padding: 0 16px;
  max-width: 48em;
}

.search-results .result {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 14px;
}

.search-results .result .head {
  line-height: 1.57;
  font-size: small;
  font-weight: normal;
  margin: 0
}

.search-results .result .head a {
  text-decoration: none;
  cursor: pointer;
  color: #1a0dab;
}

.search-results .result .head a:hover {
  text-decoration: underline;
}

.search-results .result .head h3 {
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  display: inline-flex;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
}

.search-results .result .head .link {
  padding-bottom: 0px;
  padding-top: 1px;
  line-height: 1.57;
  display: inline-block;
}

.search-results .result .head .link span {
  font-size: 16px;
  padding-top: 1px;
  line-height: 1.5;
  color: #006621;
  font-style: normal;
}

.search-results .result .description {
  line-height: 1.57;
  color: #545454;
}

.search-results .result .description span {
  word-wrap: break-word;
}

.search-results .result .description em {
  color: #6a6a6a;
  font-weight: bold;
  font-style: normal;
}

.related-searches {
  font-size: medium;
  font-weight: normal;
  margin-bottom: 28px;
  margin-top: 40px;
}

.related-searches .header {
  padding-bottom: 8px;
  text-align: left;
  color: #222;
  height: auto;
}

.related-searches .header h3 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: normal;
  margin: 0;
}

.related-searches .col {
  font-size: 14px;
  margin-top: -1px;
  padding-bottom: 1px;
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
  max-width: 100%;
  box-sizing: border-box;
}

.related-searches .col a {
  text-decoration: none;
  padding: 3px 32px 3px 0;
  display: inline-block;
  float: left;
  color: #1a0dab;
}

.related-searches .col a:hover {
  text-decoration: underline;
}

.pages table {
  border-collapse: collapse;
  text-align: left;
  margin: 0px auto 30px;
}

.pages table td {
  padding: 0;
  text-align: center;
}

.pages table td:first-child {
  padding-bottom: 15px;
}

.pages table td:last-child {
  padding-top: 24px;
}

.pages table td a {
  color: #4285f4;
  font-weight: normal;
  white-space: nowrap;
  text-decoration: none;
}
.pages table td a:hover {
  text-decoration: underline;
}

.pages table td span {
  text-decoration: none;
  height: 40px;
  display: block;
  overflow: hidden;
}

footer {
  width: 100%;
  bottom: 0;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  font-size: small;
}

footer a {
  display: inline-block;
  color: #5f6368;
  text-decoration: none;
  white-space: nowrap;
  padding-left: 27px;
  margin: 0;
}

footer a:hover {
  color: #333;
}

.country {
  border-bottom: 1px solid #e4e4e4;
  text-align: left;
  color: rgba(0,0,0,.54);
  font-size: 15px;
  padding-left: 7%;
}

.country span {
  padding-left: 27px;
}

.fbar {
  display: inline-block;
  margin-left: 13px;
  padding-left: 16px;
  border-left: 1px solid #e4e4e4;
  line-height: 15px;
  color: #5f6368;
  font-size: small;
}

.fbar span, .fbar a {
  padding: 0;
}

.fbar .circle {
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  margin: 6px 4px 9px 0;
  vertical-align: middle;
  width: 10px;
  background: #9e9e9e;
}

.left {
  white-space: nowrap;
  padding-left: 7%;
}
